[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = git://github.com/vim-scripts/dbext.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/csharp"]
        path = bundle/csharp
        url = git://github.com/OrangeT/vim-csharp.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
        url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
        url = git://github.com/kianryan/snipmate-snippets.git
[submodule "bundle/sqlcomplete"]
	path = bundle/sqlcomplete
	url = git://github.com/vim-scripts/SQLComplete.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
